@font-face {
  font-family: "OrkneyRegular";
  src: local("orkney-regular"), url("./fonts/orkney-regular.otf") format("otf");
}

@font-face {
  font-family: "OrkneyLight";
  src: local("orkney-light"), url("./fonts/orkney-light.otf") format("otf");
}

@font-face {
  font-family: "OrkneyBold";
  src: local("orkney-bold"), url("./fonts/orkney-bold.otf") format("otf");
}

@font-face {
  font-family: "OrkneyMedium";
  src: local("orkney-medium"), url("./fonts/orkney-medium.otf") format("otf");
}
